<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head />

<body>
	<ui:composition template="/site/master/master_template.xhtml">
		<ui:define name="content">
			<div>
				<div style="margin-top: 40px;" />

				<!-- analytics panel -->
				<p:panel widgetVar="panel_analytics" visible="true" closable="true">
					<h3>Throughput</h3>
					<p:chart type="line" model="#{chartView.throughputModel}"
						style="height:300px;" rendered="true" />
					<h3>Queuesize</h3>
					<p:chart type="line" model="#{chartView.queryExecutionModel}"
						style="height:300px;" rendered="true" />
				</p:panel>
			</div>
		</ui:define>
	</ui:composition>

</body>
</html>