/* index.html */

/*for the colorpicker...*/
.ui-colorpicker-container input {
	width: 35px;
}

.ui-growl{
   top:45px;
}
.search-large{
   height: 150px;
}
.search-center{
   margin-top: 10px;
}
.navbar-large{
	padding: 15px;
}
.valign{
	vertical-align: middle;
}

.hero-bg {
  background-image: url(../img/hero_bg.jpg);
  background-repeat: no-repeat;
  height: 8em;
  padding-top: 120px;
  padding-bottom: 100px;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
.well {
  min-height: 20px;
  padding: 19px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}





/* landingPage.html */

.landing-bg {
	background-color:#0FF;
	background-image: url(../img/landing_bg.jpg);
	background-repeat: repeat;
	height: 80%
}

.landing-box {
	margin-top: 75px;
	margin-bottom: 150px;
	padding: 30px;
}

.landing-footer{
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
}

.landing-body {
	height: 100%
}





/* adminPanelTemplate.html */

.nav-admin-container {
	margin-top: 20px;
}




/* searchProduct.html */

.well-custom {
	background-color: #FFF;
	margin-top: 25px;
	padding-top: 5px;
}

.nav-browse {
	margin-left: 15px;
}

.product-description {
	margin-bottom: 10px;
}

.well-custom .well {
	margin: px;
	padding: 5px 20px;
}

.well-product-search-results {
	margin-top: 70px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.product-search-h {
	margin-left: 30px;
}

.well-product {
	margin: 0px;
	padding: 5px 15px;
	background-color: #FFF;
	border: #E3E3E3;
	border-top-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.search-field {
	margin-bottom: 20px;
}

.black {
	color: #111;
}

.black-link {
	
}

/* search window fix */

.form-search .input-append .search-query {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.form-search .input-append button:last-child{
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}



/* productDetails.html */

.well-xlarge {
	padding: 50px;
	padding-top: 20px;
}

.product-description-long {
	padding-top: 0px;
}

.well-small {
	padding: 15px;
}

.valign-pic {
	margin-top: 20px;
}

.valign-buy {
	margin-top: 50px;
}

.well-white {
	background-color:#FFF;
}

.well-product-details {
	padding: 16px 40px 40px 40px;
}

h5 {
	margin-top: 20px;
}

.well-rating {
	padding: 10px 22px;
}

.well-review-photo {
	padding: 10px;
}

.well-faq {
	padding: 5px;
}

.valign-rate-buttons {
	margin-top: 20px;
}

/* User edit */
.well-white .form-actions {
	background-color: #FFFFFF;
}