<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Waiting Screen</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<style type="text/css">
@font-face {
	font-family: 'BDCartoonShoutRegular';
	src: url('BD_Cartoon_Shout-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#pacman {
	height: 450px;
	width: 342px;
	margin: 20px auto;
}

#shim {
	font-family: BDCartoonShoutRegular;
	position: absolute;
	visibility: hidden
}

h1 {
	font-family: BDCartoonShoutRegular;
	text-align: center;
}

body {
	width: 342px;
	margin: 0px auto;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}
</style>
</h:head>
<h:body>

	<h1>Have a break! Play Stream-Reasoning-Men!</h1>

	<div id="pacman"></div>
	<!-- 	<script src="pacman.js"></script>
	<script src="modernizr-1.5.min.js"></script>
	-->

	<h:outputScript name="pacman/pacman.js"></h:outputScript>
	<h:outputScript name="pacman/modernizr-1.5.min.js"></h:outputScript>

	<script>
	// <![CDATA[
    var el = document.getElementById("pacman");

    if (Modernizr.canvas && Modernizr.localstorage && 
        Modernizr.audio && (Modernizr.audio.ogg || Modernizr.audio.mp3)) {
      window.setTimeout(function () { PACMAN.init(el, "./"); }, 0);
    } else { 
      el.innerHTML = "Sorry, needs a decent browser<br /><small>" + 
        "(firefox 3.6+, Chrome 4+, Opera 10+ and Safari 4+)</small>";
    }
 // ]]>
  </script>

</h:body>
</html>