<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:h="http://java.sun.com/jsf/html">
    <body>
	    
	    <ui:composition>
 
			<footer>
	        	<ul class="inline text-center">
		        	<li>© Stream Reasoner Benchmark Plattform 2014</li><li class="divider-vertical"></li>
		            <li><a href="#">Blog</a></li><li class="divider-vertical"></li>
		            <li><a href="#">Issues</a></li><li class="divider-vertical"></li>
		            <li><a href="#">Contact</a></li>
	            </ul>
	        </footer>
 
	    </ui:composition>
	    
    </body>
</html>