<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head />

<body>
	<ui:composition template="/site/master/master_template.xhtml">
		<ui:define name="content">
			<div class="row-fluid">
				<div class="well well-large span12 text-center;"
					style="margin-top: 40px;">
					<h2>Let's test some benchmarks!</h2>
					<p>Welcome to the Stream Reasoner Benchmarking Platform. Use the UI
						elements below to control the behavior of your test setup. Define
						the input streams, queries, query engines, and the duration. After
						running the tests, you can export the results via the Export
						Button.</p>
					<button type="button" class="btn btn-primary btn-lg">Learn
						More</button>
				</div>
			</div>
			<div>
				<h:form>

					<p:growl id="growl" sticky="true" showDetail="true" />

					<p:wizard flowListener="#{streamEngineWizard.onFlowProcess}">
						<p:tab id="inputStreams" title="1. Input Stream">
							<p:panel header="Input Stream Details">
								<p:messages />
								<p>How many rooms do you want to stream? 1 room will create 1 data stream which streams events of the type person-isIn-room.</p>
								<h:panelGrid columns="2" columnClasses="label, value">
									<!-- <p:selectManyCheckbox id="grid"
										value="#{inputStreamView.selectedRooms}" layout="grid"
										columns="3">
										<f:selectItems value="#{inputStreamView.rooms}" var="room"
											itemLabel="#{room}" itemValue="#{room}" />
									</p:selectManyCheckbox> -->
									<h:outputText value="Room Number: " />
									<p:inputText id="focus" value="#{streamEngineWizard.roomNumber}" title="Choose the number of rooms you want to stream!"  />
									<p:tooltip id="toolTipFocus" for="focus" showEvent="focus" hideEvent="blur" />
								</h:panelGrid>
							</p:panel>
						</p:tab>

						<p:tab id="rand" title="2. Random Number Generator">
							<p:panel header="Random Number Generator">
								<p:messages />
								<p>This defines how often an event of the type person-isIn-room occurs on a per-room basis in milliseconds.
								The interarrival times will be Poisson distributed.</p>
								<h:panelGrid columns="2" columnClasses="label, value">
									<h:outputText value="Inter-Arrival Time(in ms): " />
									<p:inputText value="#{streamEngineWizard.interArrivalTime}" title="Choose your desired interarrival time of triple events!"/>

<!-- 									<h:outputText value="Triple Sequence Time: " />
									<p:inputText value="#{streamEngineWizard.tripleSequenceTime}" />
 -->
								</h:panelGrid>
							</p:panel>
						</p:tab>

						 <p:tab id="quer" title="3. Query">
							<p:panel header="Query">
								<p:messages />
								<p>Define the query which should be evaluated while running the test.</p>
								<h:panelGrid columns="2" columnClasses="label, value">
									<p:outputLabel for="query" value="Query: " />
									<p:selectOneMenu id="query" value="#{queryView.query}"
										style="width:150px">
										<f:selectItem itemLabel="Select Query" itemValue=""
											noSelectionOption="true" />
										<f:selectItems value="#{queryView.queries}" />
									</p:selectOneMenu>
								</h:panelGrid>
							</p:panel>
						</p:tab> 

						<p:tab id="streamEngine" title="4. Stream Engine">
							<p:panel header="Stream Engine">
								<p:messages />
								<p>Choose the Streaming Engine you want to test.</p>
								<h:panelGrid columns="2" columnClasses="label, value">
									<p:outputLabel for="engine" value="Stream Engines:" />
									<p:selectOneRadio id="engine"
										value="#{streamEngineWizard.engine}">
										<f:selectItem itemLabel="C-SPARQL" itemValue="CSPARQL" />
										<f:selectItem itemLabel="CQELS" itemValue="CQELS" />
										<f:selectItem itemLabel="Sparkwave" itemValue="SPARKWAVE" />
									</p:selectOneRadio>
								</h:panelGrid>
							</p:panel>
						</p:tab>

						<p:tab id="duration" title="5. Duration">
							<p:panel header="Duration">
								<p:messages />
								<p>Choose the duration of your test in seconds.</p>
								<h:panelGrid columns="2" columnClasses="label, value">
									<h:outputText value="Duration in sec: *" />
									<p:inputText id="dur" value="#{streamEngineWizard.duration}" title="Chose the duration of the test in seconds." />
									<p:tooltip id="tooli" for="dur" showEvent="focus" hideEvent="blur" />
								</h:panelGrid>
							</p:panel>
						</p:tab>

						<p:tab id="confirm" title="6. Confirmation">
							<p:panel header="Confirmation">
								<h:panelGrid id="confirmation" columns="3"
									columnClasses="grid,grid,grid">
								</h:panelGrid>
								<p:commandButton value="Run Benchmark!" ajax="true"
									actionListener="#{streamEngineWizard.runBenchmark}"
									update="growl" process="@this"
									onclick="PF('panel_progress').show();PF('pbAjax').start();" />
							</p:panel>
						</p:tab>
					</p:wizard>
				</h:form>

				<!-- progressbar panel -->
				<p:panel widgetVar="panel_progress" visible="false" closable="true"
					toggleable="true" rendered="true">
					<h:form>
						<p:growl id="growl" />

						<h3>Your configuration is running!</h3>
						<br />
						<p:progressBar widgetVar="pbAjax" ajax="true"
							value="#{progressBarView.progress}" labelTemplate="{value}%"
							styleClass="animated" global="false" interval="1000">
							<p:ajax event="complete" listener="#{progressBarView.onComplete}"
								update="growl" oncomplete="PF('panel_analytics').show()" />
						</p:progressBar>

					</h:form>
				</p:panel>

				<div style="margin-top: 40px;" />

				<!-- analytics panel -->
				<p:panel widgetVar="panel_analytics" visible="false" closable="true">
					<h3>Metrics</h3>
					<h:form>
						<a href="/SRBP/site/metrics/metrics.xhtml"
							class="btn btn-primary btn-lg btn-block">Go to analytics!</a>
					</h:form>
				</p:panel>
			</div>
		</ui:define>
	</ui:composition>

	<script type="text/javascript">
function start() {
 
    window['progress'] = setInterval(function() {
        var pbClient = PF('pbClient'),
        oldValue = pbClient.getValue(),
        newValue = oldValue + 10;
 
        pbClient.setValue(pbClient.getValue() + 10);
 
        if(newValue === 100) {
            clearInterval(window['progress']);
        }
 
 
    }, 1000);
}
</script>
</body>
</html>