<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>SRBP</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Le facet styles -->
	<f:facet name="first">
		<h:outputStylesheet name="css/bootstrap.min.css"></h:outputStylesheet>
		<h:outputStylesheet name="css/bootstrap-responsive.min.css"></h:outputStylesheet>

		<h:outputScript name="js/bootstrap.min.js" />
		<h:outputScript name="js/jquery.js" />
	</f:facet>

	<h:outputStylesheet name="css/override.css"></h:outputStylesheet>

<link type="text/css" rel="stylesheet"
		href="/banking/faces/javax.faces.resource/primefaces.css?ln=primefaces&amp;v=5.0" />
	<script type="text/javascript"
		src="/banking/faces/javax.faces.resource/jquery/jquery-plugins.js?ln=primefaces&amp;v=5.0"></script>
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	<!-- Le fav and touch icons
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
-->
</h:head>
<h:body>

	<ui:composition id="navbar">

		<div id="navbar" class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner navbar-large">
				<div class="container">
					<a class="brand" href="/SRBP/site/master/index.xhtml">Stream
						Reasoning Benchmark Platform |</a>
					<ul class="nav">
						<li><a class="nav" href="/SRBP/site/team/team.xhtml">Team</a></li>
						<li><a class="nav" href="#">About</a></li>
						<li><a class="nav" href="#">Contact</a></li>
						<li><a class="nav" href="#">Freemium Model</a></li>
						<li><a id="Buy"
							href="/SRBP/site/waitingScreen/playGame.xhtml">Go to waiting
								screen</a></li>
					</ul>
				</div>
			</div>
		</div>

	</ui:composition>

</h:body>
</html>