<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head />

<body>
	<ui:composition template="/site/master/master_template.xhtml">
		<ui:define name="content">
			<div class="row-fluid">
				<table class="table table-hover" style="margin-top: 50px;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>University</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Kolchin</td>
                  <td>Maxim</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Ortner</td>
                  <td>Bernhard</td>
                  <td>Vienna University of Technology</td>
                  <td>bernhardortner@gmx.net</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Presich</td>
                  <td>Marcus</td>
                  <td>Vienna University of Technology</td>
                  <td>marcus.presich@gmail.com</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Wetz</td>
                  <td>Peter</td>
                  <td>Vienna University of Technology</td>
                  <td></td>
                </tr>
              </tbody>
			  </table>
            
			</div>
			
		</ui:define>
	</ui:composition>

	<script type="text/javascript">
function start() {
 
    window['progress'] = setInterval(function() {
        var pbClient = PF('pbClient'),
        oldValue = pbClient.getValue(),
        newValue = oldValue + 10;
 
        pbClient.setValue(pbClient.getValue() + 10);
 
        if(newValue === 100) {
            clearInterval(window['progress']);
        }
 
 
    }, 1000);
}
</script>
</body>
</html>